<!DOCTYPE html>
{% load filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>윳놀이 게임</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>     
</head>
<body>
    <form action = "{% url 'create_val' %}" style="position: absolute; left: 450px; top: 450px;">
        <textarea name="content" cols="5" rows="2" style = "font-size:30pt;">{{yut.val|tls_num|safe}}({{yut.val}})</textarea>
        <br>
        <input class = "btn btn-primary" type = "submit" value = "던지기!" name = 'yut_value'>
        <br>
    </form>

    <form action = "{% url 'horse_init' %}" style="position: absolute; left: 450px; top: 400px;">
        <input class = "btn btn-primary" type = "submit" value = "초기화" name = 'yut_value'>
    </form>

    <form action = "{% url 'horse_select' %}" method = "POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-warning btn-circle btn-lg" value = 'P1_1' name = 'P1_1' style ="position: absolute; left:{{player1_first_horse.x_coor}}px; top:{{player1_first_horse.y_coor}}px;width: 100px; height: 100px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px;">
        <input type="submit" class="btn btn-danger btn-circle btn-xl" value = 'P2_1' name = 'P2_1' style ="position: absolute; left:{{player2_first_horse.x_coor}}px; top:{{player2_first_horse.y_coor}}px;width: 100px; height: 100px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px;">
    </form>

    <!--나중에 for문으로 돌릴거임-->

    <div id = "player1_horse_1" style="position: absolute; left:{{player1_first_horse.x_coor}}px; top:{{player1_first_horse.y_coor}}px;">
        [move:{{player1_first_horse.move_val}}]
        <br>
        {{player1_first_horse.player_name}}(번호:{{player1_first_horse.horse_number}})
        <br>
        ({{player1_first_horse.x_coor}},{{player1_first_horse.y_coor}})
    </div>

    <div id = "player1_horse_2" style="position: absolute; left:{{player2_first_horse.x_coor}}px; top:{{player2_first_horse.y_coor}}px;">
            [move:{{player2_first_horse.move_val}}]
            <br>
            {{player2_first_horse.player_name}}(번호:{{player2_first_horse.horse_number}})
            <br>
            ({{player2_first_horse.x_coor}},{{player2_first_horse.y_coor}})
        </div>

</body>
</html>